<html>
    <head>
        <title>Checkout</title>   
    </head>
    <body>
        <form> 
            <h1>Congratulations, your order has been submitted!</h1>
            <h3>Approximate time of delivery is 30 min<h3>
            <h3>Order ID: {{id}}</h3>
            <br>  
            <h1>Bon appetit!</h1>    
        </form>
    </body>
</html>